h1 {
  background-color: darkgreen;
  color: white;
  font-size: 45px;
}
p {
  background-color: green;
  color: white;
  font-size: 30px;
}

h2 {
  background-color: blueviolet;
  color: white;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

li {
  list-style: none;
}
